# Ignorar la carpeta node_modules
node_modules/

# Ignorar el archivo package.json (esto generalmente no se hace porque es importante, pero si realmente lo quieres ignorar, puedes hacerlo)
package.json

# Ignorar el archivo package-lock.json (de nuevo, es importante para la integridad de las dependencias, pero lo puedes ignorar si lo prefieres)
package-lock.json

