body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para el index */
 
 
 
 /* Estilos para la pagina de armas */
 .armas-background{
    background-color: #b33c00
    ;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
 
 /* Estilos para el menu desplegable */
 
 * {
     margin:0px;
     padding:0px;
     max-width: 100%;
 }
 
 #monster{
    min-height: 100vh;
    position: relative;

}

body{
    background-color: #162555;
}

header{
    background-color: #162555;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    padding: 10px 10px 10px;
    
}

.rathalos{
    max-width: 500px;
    max-height: 160px;
    position: absolute;
    z-index: 4;
    top: -6%;
    left: 25%;
}

input{
    padding: 5px;
    font-size: 1em;
    width: 300px;
    border: 1px solid #CCC;
    border-radius: 2px;
}

.busqueda{
    display: flex;
    justify-content: space-between;
}

.lupa{
    width: 25px;
    
}


main{
   display: flex;
   flex-direction: row;
   margin-bottom: 15px;
   height: 70%;
   max-height: 70%;
   flex-grow: 1;
}

.main_jose{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex-grow: 1;
    padding: 0px;
    margin: 0px;
    min-width: 100%;
}

.contenido{
    display: flex;
   flex-direction: column;
   justify-content: center;
   width: 80%;
   margin: 0 auto;
   padding: 20px;
}


video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

nav {
    position: relative;
    z-index: 2;
    background-color: #162555;
    padding: 20px;
    padding-left: 40px;
    width: 70%;
    height: 96%;

}

a{
    color: #d7d24f;
    text-decoration: none;  
    filter: brightness(1.5) drop-shadow(0 0 10px #ffffff);
}

ul{
   padding: 0;
   display: flex;
   justify-content: space-between

}



li{
    list-style: none;
   padding-bottom: 10px;
   cursor: pointer;
   align-items: center;
}

footer{
    padding-bottom: 20px;
    height: 10%;
    z-index: 5;
    background-color: #162555;
}

.logo-armas{
    max-width: 20px;
    max-height: 20px;
}

.db-image{
   width: 200px;
   height: 120px;
}

 .capa{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #1c1c1d;
     opacity: 0.8;
     mix-blend-mode: overlay;
 }
 
 .monstruos{
     position: relative;
     z-index: 2;
     background-color: #999999;
     border-radius: 5px;
     padding: 5px;
     margin: 5px;
 }
 
 .armas{
    position: relative;
    z-index: 2;
    background-color: #999999
    ;

    border-radius: 5px;
    padding-left: 50px;
    margin: 5px;
 }

 #header {
     margin:auto;
     width:500px;
 }
 
 /* Estilos para la pagina de armaduras */ 
 .armaduras-background{
    background-color: #006600;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-image: url(https://clan.cloudflare.steamstatic.com/images/33171098/388784334ed7611ea3a3bfff1054579b895b8a14.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.h1-armadura{
    color: white;
}
 
 /* Estilos para la pagina de monstruos */ 
.monstruos-background{
    background-color: #006600;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-image: url(https://i.imgur.com/8cV82VJ.jpg/);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.footer_monstruo{
    text-align: center;
    background-color: #162555;
    color: white;
    width: 100%;
}
 
 /*Estilos Inicio sesion*/
 .Usuario_body{
     background-image: url(Imagenes/fondo.jpg);
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-position: center;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
 }
 
 .Usuario_fieldset {
     background-color: rgba(0, 0, 0, 0.5);
     border-radius: 10px;
     margin: 0 auto;
     width: 300px;
     padding: 20px;
     border: 1px solid #fff;
     margin-top: 100px;
     color: white;
     display: flex;
     flex-direction: column;
 
 
 }
 .Usuario_fieldset #boton{
     display: flex;
     justify-content: center;
 
 }
 
 .Usuario_fieldset button{
     padding: 10px;
     margin: 9px;
     border-radius: 10px;
     border: none;
     background-color: rgba(243, 9, 9, 0.6);
     cursor: pointer;
 }
 
 .Usuario_fieldset button:hover{
     background-color: rgba(9, 25, 243, 0.8);
 }
 .Usuario_fieldset input{
     padding: 10px;
     margin: 5px;
     border-radius: 10px;
     border: none;
     width: 90%;
     background-color: rgba(243, 9, 9, 0.5);
}

  /* Los contenedores de las paginas */
.tarjeta-normal{
    justify-content: center;
    text-align: center;
    border: 8px solid rgb(134, 12, 12);
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(33, 28, 27 , 0.8);
    display: flex;
    flex-direction: column;
}

.textos_contenedor{
    margin-bottom: 10px;
    align-self: flex-end;
}
.imagen_contenedor{
    padding: 0.2rem 2rem 2rem;
    flex-grow: 1;
}
.contenedor-normal{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    gap: 10px;
    flex-direction: row;
}
@media (max-width: 1024px){
    .contenedor-normal{
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        gap: 10px;
        flex-direction: row;
    }
}
@media (max-width: 768px){
    .contenedor-normal{
        display: grid;
        grid-template-columns: repeat( 1, 1fr);
        gap: 10px;
        flex-direction: column;
    }
}


.tarjeta-armadura{
    justify-content: center;
    text-align: center;
    border: 8px solid rgb(134, 12, 12);
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(33, 28, 27 , 0.8);
}

.contenedor-armadura{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
.contenedor-pieza{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.tarjeta-pieza{
    justify-content: center;
    text-align: center;
    border: 8px solid transparent;
    border-image: url(imagenes/madera.jpg) 30 round;
    margin: 20px;
    background-image: url(imagenes/cuero_tablon.jpg);
}
.contenedor-set{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}




/* Estilos para la pagina de contactanos */

ul :hover{
    list-style-image:url(imagenes/lafarillo.jpg);
    color: white;
    cursor:pointer;
}

nav-contacta :hover{
    text-decoration: white;
    color: white;
    background-image: url(imagenes/lafarillo.jpg);
}


